/*General nav bar*/
nav{
    display:block;
    background: #2d3436;
    position: fixed;
    transition: .4s;
    width: 10%;
    height: 100%;
    text-align: left;
    opacity: 1;
}

nav ul{
    list-style: none;
    padding:0 32px;
    text-align: center;
}

nav ul li{
    padding:20px 12px;
}

nav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.cyan:hover{
    color: cyan;
}

.magenta:hover{
    color: magenta;
}

.yellow:hover{
    color: yellow;
}

#titleIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    }

#searchBox{
    outline: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

img.resize {
    max-width: 20%;
    max-height: 20%;
}

.search {
    background: transparent;
    background-repeat: no-repeat;
    border: transparent;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    outline: none;
    background-image: url("../images/BookBank_SearchBar.png");
    background-size: contain;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 540px;
}