/*General nav bar*/
#sideNav a{
    position: absolute;
    transition: .4s;
    padding:15px 25px 15px 0px;
    width: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-radius: 0 5px 5px 0;
}

#sideNav a:hover{
    left:0;
    font-size: 25px;
    text-align: center;

}
/*add 60px to top each tab added*/
#login{
    color: rgb(124, 108, 108);
    background: #FFF200;
    top:20px;
    left:-50px;
}

#library{
    color: rgb(124, 108, 108);
    background: #EC008B;
    top:85px;
    left:-65px;
}

#ERO{
    color: rgb(124, 108, 108);
    background: #00AEEF;
    top:150px;
    left: -80px;
}

#add{
    color: rgb(124, 108, 108);
    top: 215px;
    left: -95px;
    background: black;
}

/* Title */

#titleIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    }

#searchBox{
    background: transparent;
    background-repeat: no-repeat;
    border: transparent;
    font-family: 'Franklin Gothic Medium';
    font-size: large;
    outline: none;
    background-image: url("../images/BookBank_SearchBar.png");
    background-size: contain;
    padding-left: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 540px;
}

#searchButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -51px;
    height: 50px;
    width: 150 px;
    background-image: "../images/BookBank_SearchButton.png";
    background-size: contain;
    border: transparent;
    background: transparent;
    padding-left: 410px;
}

#coloredBoxes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 310px;
    margin-top: -2px;
    height: 50px;
    width: 150 px;
}

#summaryBox {
    height: 150px;
    width: 300px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 #mainLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
 }

img.resize {
    max-width: 20%;
    max-height: 20%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
